In [2]:
import sys; sys.path.append('..'); sys.path.append('../..')

import pandas as pd
import numpy as np
import json

import plotly.express as px

from utils.paths import tasks_folder, data_folder

In [20]:
with open(data_folder("im/json/00A3CDD8-0237-40D1-B72B-934419398609.json"), "r") as f:
  data = json.load(f)

df = pd.DataFrame(data["data"])
# df["uid"] = df.index

In [28]:
df["Gender"] = df.AgeGroup.map(lambda ag: ag[0] if not pd.isna(ag) else np.nan)
df["FinishRankGroup"] = df[df.FinishTime > 0].groupby(by=["AgeGroup"])["FinishTime"].rank(method="min", ascending=True)
df["SwimRankGroup"] = df[df.SwimTime > 0].groupby(by=["AgeGroup"])["SwimTime"].rank(method="min", ascending=True)
df["BikeRankGroup"] = df[df.BikeTime > 0].groupby(by=["AgeGroup"])["BikeTime"].rank(method="min", ascending=True)
df["RunRankGroup"] = df[df.RunTime > 0].groupby(by=["AgeGroup"])["RunTime"].rank(method="min", ascending=True)

df["FinishRankGender"] = df[df.FinishTime > 0].groupby(by=["Gender"])["FinishTime"].rank(method="min", ascending=True)
df["SwimRankGender"] = df[df.SwimTime > 0].groupby(by=["Gender"])["SwimTime"].rank(method="min", ascending=True)
df["BikeRankGender"] = df[df.BikeTime > 0].groupby(by=["Gender"])["BikeTime"].rank(method="min", ascending=True)
df["RunRankGender"] = df[df.RunTime > 0].groupby(by=["Gender"])["RunTime"].rank(method="min", ascending=True)

df["FinishRankOverall"] = df[df.FinishTime > 0]["FinishTime"].rank(method="min", ascending=True)
df["SwimRankOverall"] = df[df.SwimTime > 0]["SwimTime"].rank(method="min", ascending=True)
df["BikeRankOverall"] = df[df.BikeTime > 0]["BikeTime"].rank(method="min", ascending=True)
df["RunRankOverall"] = df[df.RunTime > 0]["RunTime"].rank(method="min", ascending=True)

df[["FinishTimeConverted", "AgeGroup", "FinishRankGroup", "FinishRankGender", "FinishRankOverall"]]

,FinishTimeConverted,AgeGroup,FinishRankGroup,FinishRankGender,FinishRankOverall
0,3:58:55,M18-24,1.0,1.0,1.0
1,3:59:24,M25-29,1.0,2.0,2.0
2,4:01:02,M45-49,1.0,3.0,3.0
3,4:02:11,M18-24,2.0,4.0,4.0
4,4:03:32,M25-29,2.0,5.0,5.0
...,...,...,...,...,...
1582,00:00:00,M18-24,NaN,NaN,NaN
1583,00:00:00,M45-49,NaN,NaN,NaN
1584,00:00:00,M35-39,NaN,NaN,NaN
1585,00:00:00,M35-39,NaN,NaN,NaN
1586,00:00:00,M55-59,NaN,NaN,NaN

In [33]:
# data = [row.to_dict() for i, row in df.iterrows()]
# data
df.to_dict(orient="records")

AttributeError: 'list' object has no attribute 'to_dict'